---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section>
    <div
      class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
      <span class="text-white">Tags</span>
      <h2
        class="text-5xl font-semibold leading-none mt-6 text-white font-display">
        All posts tagged with
      </h2>
      <ol role="list" class="mt-16 space-y-10 sm:space-y-16">
        <li>
          <ol role="list">
            {
              posts.map((post) => (
                <li
                  class="flex justify-between py-3"
                  aria-label="Strokes and fills on page 21">
                  <BlogPost
                    url={"/posts/" + post.slug}
                    title={post.data.title}
                  />
                </li>
              ))
            }
          </ol>
        </li>
      </ol>
    </div>
  </section>
</BaseLayout>
