<section aria-labelledby="cta-four" class="">
  <h2 class="sr-only" id="cta-four">Cta four</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div
      class="text-center items-center border border-zinc-700 bg-dark p-8 lg:p-10 rounded-3xl"
    >
      <div>
        <span class="text-white">Cta Four</span>
        <h2
          class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto"
        >
          <span class="lg:block">Buio brings youa ton of pages</span> for your or
          your clients next idea
        </h2>
        <p class="mt-5 font-light text-zinc-400 text-xl">
          <span class="lg:block"> Build a unique experience by mixing and</span>
          matching components, just like I mentioned before.
        </p>
        <div class="inline-flex flex-wrap items-center gap-3 mt-8 lg:gap-12">
          <div
            class="p-0.5 rounded-full bg-rainbowBg cursor-pointer shadow-thick hover:shadow-none transition duration-500 ease-in-out transform"
          >
            <a
              href="/overview"
              type="a"
              class="inline-flex items-center w-full px-6 lg:px-12 py-4 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 lg:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-blue-300 hover:text-sky-300"
            >
              Explore all pages
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
