<section aria-labelledby="cta-one">
  <h2 class="sr-only" id="cta-one">Cta One</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div>
      <div class="flex flex-col">
        <div class="lg:text-center max-w-xl lg:mx-auto">
          <span class="text-white">Cta One</span>
          <h2
            class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center"
          >
            buio's. runs Astro.js under the hood.
          </h2>
          <p class="mt-5 font-light text-zinc-400 text-xl">
            Or for your next indie project, because your MVP doesn't need to
            look like crap.
          </p>
        </div>
        <div
          class="space-y-3 lg:space-y-0 lg:space-x-3 mt-12 lg:justify-center max-w-7xl sm:flex"
        >
          <div class="inline-flex flex-wrap items-center gap-3 mt-8 lg:gap-12">
            <div
              class="p-0.5 rounded-full bg-rainbowBg cursor-pointer shadow-thick hover:shadow-none transition duration-500 ease-in-out transform"
            >
              <a
                href="/overview"
                type="a"
                class="inline-flex items-center w-full px-6 lg:px-12 py-4 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 lg:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300"
              >
                Explore all pages
              </a>
            </div>
             <div
            class="p-0.5 rounded-full bg-silverBg cursor-pointer shadow-thick hover:shadow-none transition duration-500 ease-in-out transform"
          >
            <a
              href="/overview"
              type="a"
              class="inline-flex items-center w-full px-6 lg:px-12 py-4 text-center text-white transition duration-500 ease-in-out transform rounded-full bg-dark border-8 border-black hover:border-zinc-900 lg:w-auto focus:outline-none focus:ring-2 focus:ring-offset-4 ring-offset-black focus:bg-black focus:ring-sky-300 hover:text-sky-300"
            >
              Explore all pages
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
