<section aria-labelledby="cta-two">
  <h2 class="sr-only" id="cta-two">cta two</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div>
      <div class="flex flex-col">
        <div class="lg:text-center max-w-2xl lg:mx-auto">
          <span class="text-white">Cta Two</span>
          <h2
            class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display lg:mx-auto lg:text-center">
            Word on the Future is created by Buio
          </h2>
          <p class="mt-5 font-light text-zinc-400 text-xl">
            buio. is the latest Supreme. digital experience within Tailwind Kits
            by Unwrapped that helps businesses elevate their customer
            experiences, go to market faster and optimize for growth.
          </p>
        </div>
        <form
          action=""
          method="post"
          id="revue-form"
          name="revue-form"
          target="_blank"
          class="p-2 mt-8 transition lg:mx-auto duration-500 ease-in-out transform lg:border border-zinc-700 lg:bg-dark rounded-xl lg:rounded-full sm:max-w-lg sm:flex">
          <div class="flex-1 min-w-0 border-b lg:border-0 border-zinc-700">
            <label for="member_email" class="sr-only">Email address</label>
            <input
              autofocus
              id="cta-email"
              type="email"
              class="block w-full px-5 py-3 text-base placeholder-zinc-500 transition duration-500 ease-in-out transform bg-transparent border border-transparent rounded-2xl lg:rounded-full text-neutral-600 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
              placeholder="Enter your best email..."
            />
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-3 revue-form-actions">
            <button
              type="submit"
              value="Subscribe"
              name="member[subscribe]"
              id="member_submit"
              class="px-6 py-3 mt-2 w-full lg:w-auto text-xs text-white hover:text-white transition duration-500 ease-in-out transform bg-zinc-700 rounded-full lg:text-base lg:mt-0 hover:bg-zinc-600 focus:ring-2 focus:ring-white focus:ring-offset-4"
              >Subscribe me</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
