<div class="flex justify-center mt-30">
  <div class="max-w-2xl px-6">
    <div class="border rounded-xl p-6 border-white">
      <div class="grid grid-cols-1 items-center">
        <div>
          <h2 class="text-3xl lg:text-4xl font-semibold mt-6 text-ezgreen2 font-display lg:mx-auto">
            Manual setup
          </h2>
          <div>
            <ul role="list" class="font-light text-white text-xl mt-4 flex-col">
              <li class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                
                <span class="ml-3">Longer setup times</span>
              </li>
              <br>
              <li class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <span class="ml-3">Manual configuration of ad locations</span>
              </li>
              <li class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="ml-3">Setup driven by video tutorials and guides only</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-2xl px-6">
    <div class="border rounded-xl p-6 border-white">
      <div class="grid grid-cols-1 items-center">
        <div>
          <h2 class="text-3xl lg:text-4xl font-semibold mt-6 text-ezgreen2 font-display lg:mx-auto">
            Automatic setup
          </h2>
          <div>
            <ul role="list" class="font-light text-white text-xl mt-4 flex-col">
              <li class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width=" 1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                </svg>
                <span class="ml-3">Quick setup times</span>
              </li>
              <li class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                </svg>

                <span class="ml-3">Optimized ad locations (earn more, faster)</span>
              </li>
              <li class="inline-flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                </svg>
                <span class="ml-3">Setup handled by Ezoic's technology</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>