<section class="bg-black py-20 2xl:py-40 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="max-w-xl mx-auto mb-12 lg:mb-28 text-center">
  
        <h2 class="mt-8 text-5xl text-white text-Inter font-bold font-heading" contenteditable="false">support focused</h2>
      </div>
      <div class="flex flex-wrap -mx-5">
        <div class="w-full lg:w-1/3 px-5 pt-10 lg:pt-20 pb-10">
          <ul>
            <li class="pb-5 border-b border-gray-500"><a class="inline-block py-6 px-12 bg-gray-600 rounded-lg text-lg text-white font-bold" href="#">support.ezoic.com</a></li>
            <li class="py-6 border-b border-gray-500"><a class="inline-block py-6 px-12 text-lg text-gray-300" href="#">Knowledge base</a></li>
            <li class="py-6 border-b border-gray-500"><a class="inline-block py-6 px-12 text-lg text-gray-300" href="#">Troubleshooter</a></li>
            <li><a class="inline-block py-6 px-12 text-lg text-gray-300" href="#">Community</a></li>
          </ul>
        </div>
        <div class="w-full lg:w-2/3 px-5">
          <div class="flex flex-wrap -px-4">
            <div class="w-full md:w-2/3 p-4">
              <img class="w-full object-cover" src="public/images/placeholders/supporthelpcenter.png" alt="">
            </div>
            <div class="w-full md:w-2/3 p-4">
                <img class="w-full object-cover" src="public/images/placeholders/knowledgebase.png" alt="">
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  