<section class="py-24 lg:py-32 bg-black relative overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4 mb-20">
      <div class="w-full lg:w-1/3 px-4 mb-8 lg:mb-0">
        <div class="max-w-md mx-auto h-full flex flex-col px-10 pt-8 pb-12 bg-[#373737] rounded-2xl">
          <h4 class="text-4xl text-white font-bold mb-3">
            <span class="block">Blogs</span>
          </h4>
          <span class="font-medium text-white" contenteditable="false">Stay up to date on industry trends and insights through our expansive blog content.</span>
          <div class="mt-auto pt-8 flex justify-end">
            <div class="inline-flex w-24 h-24 items-center justify-center bg-gradient-to-br from-[#3EBC61] to-[#71CF25] rounded-full lg:w-20 lg:h-20">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="80" viewBox="0 0 79 64" fill="none">
                <path d="M30.24 0V5.52C26.92 4.2 23.36 3.52 19.8 3.52C12.64 3.52 5.48 6.24 0 11.72L13.32 25.04H17.76V29.48C21.2 32.92 25.68 34.72 30.2 34.92V44H18.24V56C18.24 60.4 21.84 64 26.24 64H66.24C72.88 64 78.24 58.64 78.24 52V0H30.24ZM25.8 25.64V17.04H16.68L12.52 12.88C14.8 12 17.28 11.52 19.8 11.52C25.16 11.52 30.16 13.6 33.96 17.36L39.6 23L38.8 23.8C36.76 25.84 34.04 27 31.12 27C29.24 27 27.4 26.52 25.8 25.64ZM70.24 52C70.24 54.2 68.44 56 66.24 56C64.04 56 62.24 54.2 62.24 52V44H38.24V33.64C40.52 32.72 42.64 31.36 44.48 29.52L45.28 28.72L56.6 40H62.24V34.36L38.24 10.48V8H70.24V52Z" fill="black"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/3 px-4 mb-8 lg:mb-0">
        <div class="max-w-md mx-auto h-full flex flex-col px-10 pt-8 pb-12 bg-[#373737] rounded-2xl">
          <h4 class="text-4xl text-white font-bold mb-3">
            <span class="block">Video Tutorials</span>
          </h4>
          <span class="font-medium text-white">Access how-to videos to ensure your site is optimized, all within the dashboard.</span>
          <div class="mt-auto pt-8 flex justify-end">
            <div class="inline-flex w-24 h-24 items-center justify-center bg-gradient-to-br from-[#3EBC61] to-[#71CF25] rounded-full lg:w-20 lg:h-20">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="70" viewBox="0 0 88 72" fill="none">
                <path d="M32 16V48L60 32L32 16ZM80 0H8C3.6 0 0 3.6 0 8V56C0 60.4 3.6 64 8 64H28V72H60V64H80C84.4 64 88 60.4 88 56V8C88 3.6 84.4 0 80 0ZM80 56H8V8H80V56Z" fill="black"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/3 px-4">
        <div class="max-w-md mx-auto h-full flex flex-col px-10 pt-8 pb-12 bg-[#373737] rounded-2xl">
          <h4 class="text-4xl text-white font-bold mb-3">
            <span class="block">Webinars</span>
          </h4>
          <span class="font-medium text-white">Attend weekly webinars hosted by our global team and post questions in real-time.</span>
          <div class="mt-auto pt-8 flex justify-end">
            <div class="inline-flex w-24 items-center justify-center bg-gradient-to-br from-[#3EBC61] to-[#71CF25] rounded-full lg:w-20 lg:h-20">
              <svg xmlns="http://www.w3.org/2000/svg" width="45" height="75" viewBox="0 0 72 87" fill="none">
                <path d="M36 32C44.84 32 52 24.84 52 16C52 7.16 44.84 0 36 0C27.16 0 20 7.16 20 16C20 24.84 27.16 32 36 32ZM36 8C40.4 8 44 11.6 44 16C44 20.4 40.4 24 36 24C31.6 24 28 20.4 28 16C28 11.6 31.6 8 36 8ZM36 42.2C26.56 33.4 13.92 28 0 28V72C13.92 72 26.56 77.4 36 86.2C45.44 77.44 58.08 72 72 72V28C58.08 28 45.44 33.4 36 42.2Z" fill="black"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <h3 class="text-4xl sm:text-5xl font-bold text-white mb-10">Take control and start growing your business </h3>
    <a href="https://login.ezoic.com" class="px-10 py-3 font-heading font-bold w-full lg:w-auto text-base text-black bg-white hover:bg-black hover:text-white border border-white rounded-md">Access My Dashboard</a>

  </div>
</div>
</section>
</section>


 