<section class="pt-20 pb-24 bg-black">
    <div class="container px-4 mx-auto">
      <div class="max-w-xl mx-auto text-center">
  
        <h2 class="my-3 text-3xl md:text-4xl text-white font-bold font-heading" contenteditable="false">Time to start leveling up&nbsp;<div>in your publishing career&nbsp;</div></h2>
  
        <div class="mt-10"><a class="inline-block py-4 px-8 text-xs text-black hover:text-white font-semibold leading-none bg-white hover:bg-ezgreen1 hover:border-white rounded transition duration-300" href="#">Get Started</a></div>
      </div>
    </div>
</section>