 <section id="faq-section" class="relative pb-36 bg-black overflow-hidden">
    <!-- Existing content -->
  </section>
  
  <section aria-labelledby="feature-one">
    <div class="px-8 py-6 lg:py-10 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl lg:text-center"> 
      <div class="lg:mx-auto lg:text-center">
        <h2 class="text-3xl lg:text-3xl font-semibold mt-6 text-white font-display lg:mx-auto">
          <span class="whitespace-nowrap">Got questions? We are here to help!</span>
        </h2>
      </div>
    </div>
  </section>