<section aria-labelledby="feature-two" class="">
  <h2 class="sr-only" id="feature-one">Feature two</h2>
  <div class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 items-center">
      <div class="text-center">
        <h2 class="text-3xl lg:text-5xl font-semibold mt-6 text-white font-display">
          Automatic Setup
        </h2>
        <br>
        <br>
        <div class="relative flex justify-center">
          <img class="object-cover h-auto max-w-full rounded-2xl shadow-thick bg-black" alt="hero" src="/images/placeholders/steps.png"/>
        </div>
        <br>
        <p class="text-small text-center text-gray-400">*Interested in alternative setup options?</p>
        <p class="text-small text-center text-gray-400">
          You can <a href="/setup-options" class="text-ezgreen3 hover:text-white underline">learn more</a>.
        </p>
        
        <div class="mt-6 text-center">
          
        </div>
      </div>

      <div class="text-center order-first">
        <div>
          <img
            class="rounded-2xl shadow-thick bg-dark border border-zinc-700"
            src="/images/placeholders/girlonlaptop.png"
            alt="#"
          />
          <br>
          <p class="text-xl text-gray-400">The Ezoic onboarding team will take care of the onboarding process so you don't have to.</p>
          <br>
          <p class="text-xl text-gray-400">Let us help get you earning revenue faster!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* Adjust layout for mobile screens */
  @media (max-width: 767px) {
    .grid-cols-1 {
      grid-template-columns: 1fr;
    }

    .md\:grid-cols-2 {
      grid-template-columns: 1fr;
    }
  }
</style>





