<div class="lg:py-20 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl lg:text-center border-2 border-ezgreen2 rounded-lg"> 
  <div class="p-5 bg-gradient-cyan2 rounded-10 flex flex-col md:flex-row items-center">
    <div class="w-4/5 md:w-1/2 p-6">
      <div class="md:max-w-md">
        <h2 class="font-heading font-bold text-5xl sm:text-6xl text-white md:text-5xl whitespace-nowrap">Let's get you setup today</h2>
      </div>
    </div>
    <div class="md:w-1/2 flex flex-col md:flex-row justify-end items-center space-y-2 md:space-y-0 md:space-x-2">
      <div class="md:max-w-md">
        <a href="https://pubdash.ezoic.com/join/accessnow">
          <button type="button" class="flex items-center gap-x-1 text-md md:text-lg font-semibold leading-6 px-4 py-3 rounded bg-white text-black border-4 border-white hover:text-white hover:bg-black">
            Get Started
          </button>
        </a>
      </div>
    </div>
  </div>
</div>






