<style>
  .faq-list {
    border-radius: 15px; /* Apply rounded corners to the entire question box */
    overflow: hidden; /* Hide any content that goes outside the question box */
  }
</style>

<section class="py-24 bg-black">
  <div class="container px-4 mx-auto">
    <div class="max-w-2xl mx-auto text-center mb-8">
      <h2 class="mt-4 mb-6 text-4xl font-bold font-heading text-white">Levels FAQ</h2>
      <p class="text-lg text-white">Find quick answers to common questions about the Levels experience.</p>
    </div>
    <div class="max-w-max mb-6 md:mb-14 mx-auto text-center flex flex-wrap justify-around flex-row">
      <button class="tab-button inline-block w-full md:w-auto mb-2 md:mb-0 py-2 px-8 leading-8 text-black font-medium bg-gray-300 hover:bg-ezgreen1 focus:bg-ezgreen1 focus:text-white" data-tab="general">General</button>
      <button class="tab-button inline-block w-full md:w-auto mb-2 md:mb-0 py-2 px-8 leading-8 text-black font-medium bg-gray-300 hover:bg-ezgreen1 focus:bg-ezgreen1 focus:text-white" data-tab="account">Account</button>
      <button class="tab-button inline-block w-full md:w-auto mb-2 md:mb-0 py-2 px-8 leading-8 text-black font-medium bg-gray-300 hover:bg-ezgreen1 focus:bg-ezgreen1 focus:text-white" data-tab="progression">Progression</button>
    </div>
    <div class="max-w-3xl mx-auto">
      <ul class="faq-list">
        <li class="px-10 py-8 bg-white general">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">What are Levels?</span>
              <svg class="flip-arrow down-arrowflex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Levels is a program that is embedded in the Ezoic platform. Every publisher has a dedicated level assigned to them based on their monthly revenue and traffic. As you grow on the platform, so will your support and services.</p>
          </li>
          <li class="px-10 py-8 bg-white general">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">How are visits and revenue calculated to determine my level?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Ezoic uses the previous month's total revenue and total visits from all the sites active within a publisher's Ezoic account. If a publisher is creating a new account and adding a site to Ezoic for the first time, we'll automatically calculate the site's traffic and revenue based on estimates from 3rd-party databases. You can read the specific criteria set at each level HERE.</p>
          </li>
          <li class="px-10 py-8 bg-white general">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-back hover:text-ezgreen1">
              <span class="text-base font-heading">Will a site earn more revenue at higher levels?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Yes! Sites that utilize all of Ezoic's monetization features and other products have shown to demonstrate growth and success at their respective level. Ezoic's machine learning technology alongside an optimized setup have proven to help publishers progress and earn at higher levels. </p>
          </li>
          <li class="px-10 py-8 bg-white general">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">How do publishers know what level their site(s) are in?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Ezoic will display what level an account is on their main dashboard in the top navigation bar. From there, publishers can visit their "Levels Dashboard" where they can review the progress bar to the next levels, review their monetization tasks, and more.</p>
          </li>
          <li class="px-10 py-8 bg-white general">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">What else is in my Levels Dashboard?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Your Levels Dashboard has an overview of your monetization tasks and scores required to help you progress through the Levels system. These will live in the Scores section. You also have access to your Levels Newsfeed which allows you to stay up to date on industry trends, marketing materials, and messages from your dedicated rep. Lastly, you have the ability to review your quarterly highlights, create custom milestones, access the Ezoic Help center and support community.</p>
          </li>

          <!-- Account category -->
          <li class="px-10 py-8 bg-white account">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">What if an account is assigned the wrong level?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">In most cases, Ezoic is able to appropriately assign all accounts the correct level since total revenue and total visits are recorded and available for the previous month within Ezoic. If a publisher believes this is incorrect, they can apply to a higher level in their Levels dashboard even if Ezoic has not detected that they are eligible. Ezoic provides an open text box in the application for additional details and information to explain why a publisher believes they are in the wrong level. </p>
          </li>
          <li class="px-10 py-8 bg-white account">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">How often can an account apply to a higher level?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">At each level, sites will have the ability to apply to a higher level in their Levels Dashboard. Current, sites can only apply once for a level upgrade prior to being detected as eligible for a given level. Once an application is received and requirements are met, they'll automatically be moved to a higher level. If a site does not meet requirements, Ezoic will notify them once they do and provide them the ability to move to a higher level.</p>
          </li>
          <li class="px-10 py-8 bg-white account">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">What if an account removes all sites and returns later, will it be able to re-enter to its previous level upon returning?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Accounts will be subject to the revenue and visit minimum for their current level regardless of whether they have any sites active or not. If sites are removed, accounts will have 30 days to re-add them or meet level requirements before being moved down to the appropriate level. If sites are brought back after 30 days and the account has been moved down a level, the account will have to meet the critieria again and re-apply for the higher level.</p>
          </li>
          
          <!-- Progression category -->
          <li class="px-10 py-8 bg-white progression">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">If a site is in Level 1, when will they be moved into Level 2?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Ezoic will automatically detect when an account meets the necessary criteria for Level 2 and transition the account into Level 2 once they have at least one month fulfilling the minimum Level 2 requirements. The same process applies from Level 2 to Level 3, Level 3 to Level 4, etc. Typically, level changes are reviewed and updated around the 10th of the current month.</p>
          </li>
          <li class="px-10 py-8 bg-white progression">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">Will accounts move down a level if they fall below the requirements?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Not immediately. If a site has their total visits and total revenue fall below the minimum requirement for their level (of the previous month), Ezoic will notify the publisher that they've fallen below the requirement. If an account has not removed any sites within their account since moving to a higher level, Ezoic will give publishers up to 12 months to meet minimum requirements again. Once the account is above the minimum threshold for their current level, the publisher will be secured in their existing level. </p>
          </li>
          <li class="px-10 py-8 bg-white progression">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">How do accounts/sites move up a level?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Publishers will be able to level-up faster by accomplishing the monetization tasks listed in their Levels Dashboard. Tasks are categorized by level - You will only need to complete the tasks at your current level in order to move up. Completing all of the top optimizations listed will reduce the requirements for the next level by 5% - This is called achieving your boost. If and when you qualify for the next level, publishers will be notified via their dashboard. You can go ahead and manually apply to level up. Otherwise, automatic assignments of leveling up happening around the 10th of the following month. </p>
          </li>
          <li class="px-10 py-8 bg-white progression">
            <button class="faq-question w-full flex justify-between items-center text-left font-heading text-black hover:text-ezgreen1">
              <span class="text-base font-heading">Which international markets are Levels available for?</span>
              <svg class="flex-shrink-0 text-black w-4 h-4" viewBox="0 0 16 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 3.25L13.5 0.75L7.99997 6.25L2.49997 0.749999L-3.01679e-05 3.25L7.99997 11.25L16 3.25Z"></path>
              </svg>
            </button>
            <p class="faq-answer hidden mt-4 pr-8 text-gray-500 leading-loose">Levels are currently and fully available for US, UK, Latin American and Italian markets. The French and German markets only have access to the dashboard itself, as Ezoic's product and service offering to each of these markets are already tailored in many ways. In the future, we'll have a similar form of Levels available in these markets as well. </p>
          </li>
          
        </ul>
      </div>
    </div>
  </section>

  <script>
    const buttons = document.querySelectorAll('.faq-question');
    const tabButtons = document.querySelectorAll('.tab-button');
    const faqQuestions = document.querySelectorAll('.faq-question');
  
    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const answer = button.nextElementSibling;
        const arrow = button.querySelector('.flip-arrow');
        answer.classList.toggle('hidden');
        arrow.classList.toggle('flip');
      });
    });
  
    tabButtons.forEach(button => {
      button.addEventListener('click', () => {
        const tab = button.getAttribute('data-tab');
  
        // Show only the questions related to the clicked tab
        faqQuestions.forEach(question => {
          if (question.parentElement.classList.contains(tab)) {
            question.parentElement.style.display = 'block';
          } else {
            question.parentElement.style.display = 'none';
          }
        });
  
        // Change the background color and text color of all tab buttons to default (gray-300 and black)
        tabButtons.forEach(btn => {
          btn.classList.remove('bg-ezgreen1', 'text-white');
          btn.classList.add('bg-gray-300', 'text-black');
        });
  
        // Change the background color and text color of the clicked tab button to ezgreen1 and white
        button.classList.add('bg-ezgreen1', 'text-white');
        button.classList.remove('bg-gray-300', 'text-black');
      });
    });
  
    // Show only the General questions and set the General tab as active by default
    faqQuestions.forEach(question => {
      if (question.parentElement.classList.contains('general')) {
        question.parentElement.style.display = 'block';
      } else {
        question.parentElement.style.display = 'none';
      }
    });
  
    // Set the General tab as active by default (on page load)
    const defaultTabButton = document.querySelector('[data-tab="general"]');
    defaultTabButton.classList.add('bg-ezgreen1', 'text-white');
    defaultTabButton.classList.remove('bg-gray-300', 'text-black');
  </script>