<section aria-labelledby="feature-one">
    <div class="px-2 lg:py-2 mx-auto md:px-10 lg:px-16 xl:px-30 2xl:max-w-7xl lg:text-center"> 
      <h2 class="text-4xl lg:text-5xl font-semibold mt-4 text-white font-display" style="color: white">
          <span class="whitespace-wrap">Support Focused</span>
        </h2>
        
      </div>
    </div>
  </section>