<section class="overflow-hidden">
  <div class="items-center px-8 py-12 lg:py-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="flex flex-wrap items-center -m-6">
      <div class="w-full md:w-1/2 p-6">
        <div class="md:max-w-md rounded-lg p-6" style="background-color: #373737;">
          <h2 class="mb-6 font-heading font-bold text-4xl sm:text-5xl text-white">The Support Community</h2>
          <p class="mb-9 text-base text-white">Program members get access to the Ezoic Community for accelerated support. Ezoic team members will be actively assisting you and other publishers as you work on setting up your site with Ezoic.</p>
          <div class="flex flex-wrap -m-2">
            <div class="w-full md:w-auto p-2">
              <a href="https://pubdash.ezoic.com/join/accessnow" class="px-9 py-3.5 font-heading font-bold w-full lg:w-auto text-base text-black bg-white hover:bg-[#373737] hover:text-white border border-white rounded-md">Get Started</a>

            </div>
            <div class="w-full md:w-auto p-2">
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 p-6">
        <div class="text-white text-center font-bold text-3xl mb-4">Additional resources</div><br>
        <div class="flex space-x-4">
          <div class="w-1/2">
            <a href="https://thelatest.ezoic.com/" target="_blank" rel="noopener noreferrer">
              <img class="object-cover h-auto max-w-full rounded-2xl shadow-thick bg-black" alt="hero" src="/images/placeholders/TheLatestfolder.png" />
            </a>
          </div>
          <div class="w-1/2">
            <a href="/setup-options#faq-section">
              <img class="object-cover h-auto max-w-full rounded-2xl shadow-thick bg-black" src="/images/placeholders/FAQfolder.png" alt="FAQ Folder">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




  
  
  
 
  
  
  