<section aria-labelledby="feature-five" class="bg-gray-900">
  <div class="w-4/5 px-2 my-8 lg:my-16 mx-auto md:px-8 lg:px-10 xl:px-32 2xl:max-w-7xl py-8 lg:py-3 text-center">
    <div class="lg:mx-auto lg:text-center">
      <h2 class="text-4xl lg:text-3xl md:text-2xl sm:text-lg font-semibold mt-6 text-white font-display lg:mx-auto">
        <span class="whitespace-wrap">What to expect with each setup option</span>
      </h2>
    </div>
  </div>
</section>

<style>
  /* Adjust text size for small dimensions on mobile */
  @media (max-width: 480px) { /* Adjust this breakpoint as needed */
    .text-3xl {
      font-size: 1.5rem;
    }
    
    .lg\:text-3xl, .md\:text-2xl, .sm\:text-xl, .xs\:text-0.5xl {
      font-size: 1.25rem;
    }
  }
</style>
