<section aria-labelledby="colors" class="">
  <h2 class="sr-only" id="colors">colors</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div>
      <div class="pt-3 pb-12 mt-12">
        <div
          class="flex justify-start pl-3 lg:pl-12 border-l-4 border-zinc-700"
        >
          <span class="pr-3 bg-black text-xl text-white"
            >Color
            <span class="text-sm block">Main palette</span>
          </span>
        </div>
      </div>
      <div class="grid grid-cols-4 lg:grid-cols-4 py-4 gap-2 max-w-3xl">
        <div class="bg-rainbowBg p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-white border p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-silverBg p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-dark p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-white/50 p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-ezgreen1 p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-ezgreen2 p-6 rounded-md lg:p-12 w-full"></div>
        <div class="bg-ezgreen3 p-6 rounded-md lg:p-12 w-full"></div>
       
      </div>
    </div>
  </div>
</section>
