<section aria-labelledby="demopages" id="demospages">
  <div
    class="items-center px-8 mx-auto py-12 gh:py-24 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="justify-center max-w-3xl">
      <div>
        <p class="text-5xl font-semibold leading-none text-white font-display">
          Overview
        </p>
        <p class="mt-5 font-light text-zinc-400 text-xl">
          Explore all pages and sections.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-12 lg:grid-cols-5 md:grid-cols-3">
      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white">Landing Pages</p><a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/"
            >Landing Page One
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/landing-two">Landing Page Two</a
          >
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/landing-three">Landing Page Three</a
          >
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/landing-four">Landing Page Four</a
          >
          <p class="text-xl text-white mt-12">About</p>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/about-one"
            >About Page One
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/about-two"
            >About Page Two
          </a>
        </div>
      </div>
      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white">Pricing Pages</p>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/pricing-one"
            >Pricing Page One
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/pricing-two"
            >Pricing Page Two
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/pricing-three"
            >Pricing Page Three
          </a>
          <p class="text-xl text-white mt-12">Blog Pages</p>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/blog"
            >Blog Landing</a
          >

          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/posts/1">
            Blog Post normal
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/posts/2">
            Blog Post code snippets
          </a>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/tags">
            Tag index
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/tags/astro">
            Tag slug
          </a>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/rss.xml">
            RSS
          </a>
        </div>
      </div>
      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white">Utility Pages</p>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/changelog"
            >Changelog
          </a>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/terms"
            >Terms Of use
          </a><a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/privacy"
            >Privacy Policy
          </a>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/404"
            >404</a
          >
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/faq"
            >FAQ</a
          >
          <p class="text-xl text-white mt-12">All sections</p>

          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/all-features">All feature sections</a
          >
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/all-pricing"
            >All pricing
          </a>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/all-cta"
            >All Call to actions</a
          >
        </div>
      </div>

      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white">Forms Pages</p>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/contact"
            >Contact
          </a>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/submit"
            >Submit
          </a>
          <a class="text-sm text-zinc-400 hover:text-white mt-2" href="/login"
            >Login
          </a><a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/signup"
            >Sign up
          </a><a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/forgot"
            >Forgot Password
          </a>
        </div>
      </div>

      <div class="text-sm mt-10" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-xl text-white">System Pages</p>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/styleguide">Style Guide</a
          >
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="https://lexingtonthemes.com/license.html">License</a
          >
          <p class="text-xl text-white mt-12">Recruiting</p>
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/carriers">Carriers</a
          >
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/carriers-offers">Carries entries</a
          >
          <a
            class="text-sm text-zinc-400 hover:text-white mt-2"
            href="/carrier-application">Carriers application</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
