<section aria-labelledby="typogrphy" class="">
  <h2 class="text-5xl" id="typography">typography</h2>
  <div
    class="px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <div>
      <div class="max-w-xl">
        <p class="text-3xl font-medium tracking-tight text-white lg:text-5xl">
          Style guide
        </p>
      </div>
      <div class="max-w-xl">
        <div class="pt-3 pb-12 mt-12">
          <div
            class="flex justify-start pl-3 lg:pl-12 border-l-4 border-zinc-700"
          >
            <span class="pr-3 bg-black text-xl text-white"
              >Typography
              <span class="text-sm block">Outfit &amp; Clash Display</span>
            </span>
          </div>
        </div>
        <div class="py-3 space-y-6">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-3xl lg:text-5xl font-semibold text-white font-display"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-2xl lg:text-4xl font-semibold text-white font-display"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-xl font-semibold text-white font-display lg:text-3xl"
                >Header 3
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Header 4</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-lg font-semibold text-white font-display lg:text-2xl"
                >Header 4
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Header 5</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-base font-medium text-white font-display lg:text-xl"
                >Header 5
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Header 6</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-sm font-medium text-white font-display lg:text-lg"
                >Header 6
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-sky-300 hover:text-white underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-lg font-medium leading-6 text-white font-display"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-base text-zinc-400"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-zinc-400">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-zinc-400">Picture about somethin'</span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-zinc-400">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul
                class="list-decimal text-base list-inside space-y-3 mt-6 text-zinc-400"
                role="list"
              >
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
