<section class="pt-24 overflow-hidden bg-black"><div class="container mx-auto px-4 flex justify-center">
    <div class="w-full md:w-1/2 lg:w-3/12 p-6 text-white">
      <div class="h-full text-white">
        <h3 class="mb-9 font-heading font-semibold text-xs uppercase tracking-px" contenteditable="false">information</h3>
        <ul class="text-white"><li class="text-white mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/login.ezoic.com" contenteditable="false">Login</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="/AccessNow-Signup" contenteditable="false">Access Now Signup</li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700" href="https://adrevenueindex.ezoic.com/" contenteditable="false">Ad Revenue Index</a></li>
          <li class="mb-4"></li><a class="font-heading font-medium text-base hover:text-gray-700" href="https://www.ezoicstatus.com/" contenteditable="false">Status</a></li>
          <li class="mb-4"></li><a class="font-heading font-medium text-base hover:text-gray-700" href="https://www.ezoic.com/certified-seamless-with-ezoic/" contenteditable="false">Certified Seamless Partners</a></li>
          <li class="mb-4"></li><a class="font-heading font-medium text-base hover:text-gray-700" href="https://www.ezoic.com/security/" contenteditable="false">Security</a></li>
        </ul></div>
    </div>
  
    <div class="w-full md:w-1/2 lg:w-3/12 p-6 flex justify-center">
      <div class="h-full text-left">
        <h3 class="mb-9 font-heading font-semibold text-xs uppercase tracking-px text-white">company</h3>
        <ul>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/careers/">Careers</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/contact-us/">Contact</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/ezoic-cares-csr/">Ezoic Cares</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://affiliates.ezoic.com/login">Affiliate Login</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/events/">Events</a></li>
        </ul>
      </div>
    </div>
    
    <div class="w-full md:w-1/2 lg:w-3/12 p-6 flex justify-end">
      <div class="h-full text-left">
        <h3 class="mb-9 font-heading font-semibold text-xs uppercase tracking-px text-white">learn more</h3>
        <ul>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/about/">About</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="/AccessNow-Program-Highlights">Access Now Program</li>
            <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="/Levels-FAQ">Levels FAQ</li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/pricing/">Pricing</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/faq/">FAQ</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://wordpress.ezoic.com/">WordPress Dev</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/press/">Press</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/privacy-policy/">Privacy Policy</a></li>
          <li class="mb-4"><a class="font-heading font-medium text-base hover:text-gray-700 text-white" href="https://www.ezoic.com/terms/">Terms</a></li>
        </ul>
      </div>
    </div>
